.menu {
         height: 100vh;
         width: 300px;
         background-color: #7c7c7c;
         float: left;
         /*將視窗浮動於網頁左側*/
}



.content {
         width: 100vw;
         /*vh是跟著視窗高度 vw是跟著視窗寬度*/
         height: 100vh;
         background-color: rgb(225, 129, 129);
}

.menu .title {
         width: 100%;
         height: 100px;
         background-color: #4a4a4a;
}

.contnet .box {
         width: 100%;
}

.circle {
         display: block;
         background-color: #fff;
         border: 1px solid rgb(61, 191, 234);
         height: 30px;
         width: 30px;
         animation: ani-circle 4s infinite alternate
}

.tran {
         display: block;
         background-color: #fff;
         border: 1px solid rgb(61, 191, 234);
         height: 30px;
         width: 30px;
         animation: ani-circle 4s infinite alternate
}



.menu .title .imgStyle {
         width: 50px;
}

.menu ul li {
         list-style: none;
}

.menu .link {
         width: 100%;
         position: absolute;
         /*position:負責用來定位 設定absolute代表是一個”孩子“ 要給孩子一個”父親“*/
         /*讓這個”孩子“以父親的區塊範圍定位 也就是相對位置 */
         /*因為這個.link是在.menu內 因此要以.menu區塊的相對位置定位*/
         left: 80px;
         /*讓他距離目前的.menu區塊左邊界0px*/
         bottom: 0;
         /*讓他距離目前的.menu區塊下邊界0px*/
}

.menu .link div {
         height: 20px;
         width: 20px;
         display: inline-block;
}

.menu .link .fb {
         background-color: #4a4a4a;
         border-radius: 50%;
}

.menu .link .github {
         background-color: #4a4a4a;
         border-radius: 50%;
}

.menu .link .twitter {
         background-color: #4a4a4a;
         border-radius: 50%;
}

.content p {
         display: inline;
}

.box {
         display: flex;
         flex-wrap: wrap;
         width: 280px;
         top: 0;
         padding: 10px;

         margin-left: auto;
         margin-right: auto;
         text-align: center;

}

.div1 {
         width: 50%;

         background-color: red;
}

.div2 {
         width: 50%;

         background-color: orange;
}

.div3 {
         width: 100%;

         background-color: rgb(138, 141, 193);
}

.container {
         display: flex;
         background-color: #fff;
         flex-wrap: wrap;
         margin: 20 20 auto;
         width: 60%;
         height: 80%;
         text-align: center;


}

.item {
         display: flex;
         flex-direction: row;
         gap: 2px;
         margin-top: 20px;
         width: 100%;
         height: 100%;
         text-align: center;
         padding: 5px 10px 10px 10px;

}

.item1 {
         display: flex;

         justify-content: center;
         align-content: center;
         width: 50%;
         height: 20%;
         background-color: rgb(228, 153, 73);
}

.item1 p {
         background-color: rgb(204, 147, 145);
         width: 80%;
         text-align: center;
}

.item1 p:hover {
         transform: scale3d(2);

}

.item2 {
         display: flex;

         justify-content: center;
         align-content: center;
         width: 50%;
         height: 20%;
         background-color: rgb(204, 147, 145);
}

.item2 p {
         background-color: rgb(228, 153, 73);
         width: 80%;
         text-align: center;
}

.item2 p:hover {
         transform: scale3d(2);

}

.item3 {
         display: flex;

         justify-content: center;
         align-content: center;
         width: 50%;
         height: 20%;
         background-color: rgb(84, 230, 48);
}

.item3 p {
         background-color: rgb(242, 211, 53);
         width: 80%;
         text-align: center;
}

.item3 p:hover {
         transform: scale3d(2);

}

.item4 {
         display: flex;
         justify-content: center;
         align-content: center;
         width: 50%;
         height: 20%;
         background-color: rgb(242, 211, 53);
}

.item4 p {
         background-color: rgb(84, 230, 48);
         width: 80%;
         text-align: center;
}

.item4 p:hover {
         transform: scale3d(2);

}

.item5 {
         display: flex;
         justify-content: center;
         align-content: center;
         width: 50%;
         height: 20%;
         background-color: rgb(193, 158, 233);
}

.item5 p {
         background-color: rgb(61, 191, 234);
         width: 80%;
         text-align: center;
}

.item5 p:hover {
         transform: scale3d(2);

}

.item6 {
         display: flex;
         justify-content: center;
         align-content: center;
         width: 50%;
         height: 20%;
         background-color: rgb(61, 191, 234);
}

.item6 p {
         background-color: rgb(193, 158, 233);
         width: 80%;
         text-align: center;
}

.item6 p:hover {
         transform: scale3d(2);

}




@media(max-width:1000px) {}

@media(max-width:800px) {

         .menu {
                  display: none;

         }

         .box {
                  display: none;
         }

         .container {

                  margin: 0 auto;
                  height: 80%;
         }

         .item {
                  display: flex;
                  background-color: #7c7c7c;
                  flex-direction: column;
                  margin: 0 auto;
         }

         .item1 {
                  width: 100%;
                  height: 15%;
         }

         .item2 {
                  width: 100%;
                  height: 15%;
         }

         .item3 {
                  width: 100%;
                  height: 15%;
         }

         .item4 {
                  width: 100%;
                  height: 15%;
         }

         .item5 {
                  width: 100%;
                  height: 15%;
         }

         .item6 {
                  width: 100%;
                  height: 15%;
         }

}


.box-before {
         width: 300px;
         height: 50px;
         color: white;
         font-size: 20px;
         background-color: #2e5ec0;
}

.box-1 {

         /*
         當設定元素的屬性為position:absolute 
         該元素就會在外層尋找哪個元素的屬性為position:relative 
         如果沒有 就會以body的左上角的點為基準元素
         */
         /*
         position:relative 
         以自己原本顯示的位置為基準位置來指定上下左右的偏移
         且區塊原本的空間保留不會消失
         top,left,right,bottom這些語法只有在position屬性不是預設值時才有效
         */
         position: relative;
         top: 30px;
         left: 20px;
         width: 300px;
         padding: 10px;
         color: white;
         font-size: 20px;
         background-color: #fd3c40;
         box-sizing: border-box;
}

.box-2 {
         position: relative;
         top: 20px;
         left: 30px;
         height: 50px;
         color: white;
         font-size: 20px;
         background-color: #8c4fb6;
}

.box-3 {
         position: relative;
         left: 60px;
         height: 50px;
         color: white;
         font-size: 20px;
         background-color: #00b842;
}

.box-after {
         width: 300px;
         height: 50px;
         color: white;
         font-size: 20px;
         background-color: #faaa20;
}

/* HTML: <div class="loader"></div> */
/* HTML: <div class="loader"></div> */
.loader {
         width: fit-content;
         font-weight: bold;
         font-family: sans-serif;
         font-size: 30px;
         padding-bottom: 8px;
         background: linear-gradient(currentColor 0 0) 0 100%/0% 3px no-repeat;
         animation: l2 2s linear infinite;
}

.loader:before {
         content: "Loading..."
}

@keyframes l2 {
         to {
                  background-size: 100% 3px
         }
}

/* HTML: <div class="loader"></div> */